.header {

  height: 64px;

}

.titulo {

  margin-left: 12px;

  font-size: 22px;

  font-weight: 500;

}

.spacer {

  flex: 1;

}

.versao {

  margin-right: 16px;

  font-size: 14px;

  opacity: .85;

}
