# ===========================================
# PROMOCOESCOMAER
# Ambiente de Desenvolvimento
# ===========================================

APP_NAME=PromocoesCOMAER
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=true

# ===========================================
# PostgreSQL
# ===========================================

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=promocoescomaer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ===========================================
# Oracle
# ===========================================

ORACLE_HOST=exacc01-scan.ccarj.intraer
ORACLE_PORT=1521
ORACLE_SERVICE=ssigpesprd.ccarj.intraer
ORACLE_USER=sam
ORACLE_PASSWORD=*******

# ===========================================
# API
# ===========================================

API_HOST=0.0.0.0
API_PORT=8000