:host {
  display: block;
  height: 100%;
  background: #ffffff;
}

mat-nav-list {
  padding-top: 8px;
}

.active {
  background: rgba(0, 59, 111, 0.10);
  border-left: 4px solid #003b6f;
}

a[mat-list-item] {
  border-radius: 0;
}

mat-icon {
  color: #003b6f;
}
