<mat-card>
  <mat-card-header>
    <mat-card-title>Promoções Realizadas</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (promocoes.length > 0) {
      <table mat-table [dataSource]="promocoes" class="mat-elevation-z2">
        <ng-container matColumnDef="numero_ordem">
          <th mat-header-cell *matHeaderCellDef>Nº Ordem</th>

          <td mat-cell *matCellDef="let promocao">
            {{ promocao.numero_ordem }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>

          <td mat-cell *matCellDef="let promocao">
            {{ promocao.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="posto_origem">
          <th mat-header-cell *matHeaderCellDef>Posto Origem</th>

          <td mat-cell *matCellDef="let promocao">
            {{ promocao.posto_origem }}
          </td>
        </ng-container>

        <ng-container matColumnDef="posto_destino">
          <th mat-header-cell *matHeaderCellDef>Posto Destino</th>

          <td mat-cell *matCellDef="let promocao">
            {{ promocao.posto_destino }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    } @else {
      <p>Nenhuma promoção realizada.</p>
    }
  </mat-card-content>
</mat-card>
